body{
	background: ghostwhite;
}
.container{
	width: clamp(400px, 70%, 200px) !important;
	height: auto;
	margin: auto;
	transform: translateY(calc(50vh - 50%));
	border: 2px solid transparent;
	border-radius: 5px;
	padding: 10px;
}
.inputsboxarea{
	display: flex;
	flex-direction: row;
	justify-content: start;
	flex-wrap: wrap;
}
input{
	width: 40px;
	height: 40px;
	background-color: white;
	color: blue;
	margin: 5px;
	border-radius: 8px;
	text-align: center;
	font-weight: 800;
	font-size: 25px;
	
}
p{
	font-weight: 600;
}